@import 'unitize';

html {
//  font-size can be calculated as a percentage or set in pixels
//  font-size: percentage($root-font-size/16);
  font-size: $root-font-size + px;
}

body {
  margin: unitize(4 6% 2 9px);
  padding: rem(4 6 2 9);
  line-height: rem(18);
  box-shadow: unitize(inset 5 2 #cfc);
  text-shadow: rem(3 3 6 rgba(0, 0, 0, 0.5));
}

p {
  margin: em(3 6, 12);
  padding: rem(8 12);
  font-size: em(12);
  line-height: em(18);
}