html {
  font-size: 12px; }

body {
  margin: 4px 6% 2px 9px;
  padding: 0.33333rem 0.5rem 0.16667rem 0.75rem;
  line-height: 1.5rem;
  box-shadow: inset 5px 2px #ccffcc;
  text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5); }

p {
  margin: 0.25em 0.5em;
  padding: 0.66667rem 1rem;
  font-size: 1em;
  line-height: 1.5em; }
